<%- include('partials/Header.ejs') %>
<%- include('partials/Site_Header.ejs') %>
<section id="team">

<!--Title-->
    <div class="project-text ">
    <p><i class="fa-solid fa-palette"></i> Meet The Team! </p>
        </div>

        <!--I will be creating boxes-->
    <div class="box-container">
        <!--Box 1-->
        <div class="box-1">
        <p>Design: Mariyam Member<br>
        Functionality: Jason Kong, Dammy Olude<br>
        CRUD: Mahnoor Mahnoor</p>
        </div>

      <div class="team-title">
      <h1>Why TaskHub?</h1>
      </div>
      <div class="team-paragraph">
      <p>Welcome to TaskHub, where getting things done becomes as delightful as crossing items off your to-do list! We believe in the power of cute productivity, and TaskHub is here to make your task management experience not just efficient but downright adorable. Taskhub brings a touch of whimsy to your daily routine. Embrace the cuteness and stay organized in the most delightful way possible. Join us, and let's turn your to-do list into a loveable adventure with Taskhub!</p>
      </div>
</div>

</section>
<%- include('partials/Site-Footer.ejs') %>
<%- include('partials/Footer.ejs') %>