<footer>
    <div class="footer-container"></div>

    <!--Copyright-->
    <p class="copyright"><b>&copy; Copyright 2023</b>. All Rights Reserved Designed by <b>&#x1F5F9 Task.Hub</b></p>

           <!--Icon for links, watched some video-->
      <div class="social-icon">
      <a href="/team" class="team-icon">
      <i class="fa-solid fa-people-group fa-xl"></i></a>
      </div>
</footer>